/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
/* Application-wide Styles */

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.container {
  margin: 20px;
  display: flex;
}
.flex-spacer {
  flex: 1 1 auto;
}